### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
purchase_data.head()

#total observations in dataset=780!
#dataCount=purchase_data.count()
#dataCount


#Counting Unique Players in the dataset
playerCount=purchase_data['SN'].nunique()
playerCount

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchase_data.head()
#Count of Unique Items sold in Dataset
uniqueitems=purchase_data['Item ID'].nunique()
uniqueitems
##Average Price
avgPrice=purchase_data['Price'].mean()
avgPrice

##Number of purchases
purchaseNum=purchase_data['Purchase ID'].count()
purchaseNum

#Total Revenue
totalRevenue=purchase_data['Price'].sum()
totalRevenue

#Now create a summary table and round up Average price to 2decimal pt
purchase_summary_table =pd.DataFrame({"Number of Unique Items":[uniqueitems],
                                  "Average Price":[avgPrice],
                                  "Number of Purchases":[purchaseNum],
                                  "Total Revenue":[totalRevenue]})

#purchase_summary_table =pd.DataFrame{"Number of Unique Items":uniqueitems,
    #                              "Average Price":avgPrice,
    #                              "Number of Purchases":purchaseNum,
    #                              "Total Revenue":totalRevenue}

##Add formating for avg price and total revenue
purchase_summary_table.style.format({"Average Price":"${:,.2f}",
                                    "Total Revenue": "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#group data by gender
gender_data=purchase_data.groupby("Gender")

gender_counts = purchase_data["Gender"].value_counts()
gender_counts
#in percentage
gender_pct=purchase_data['Gender'].value_counts(normalize=True) * 100



#gender summary table
gender_summary_table=pd.DataFrame({"Total Count":gender_counts,
                                  "Percentage of Players":gender_pct})
#Add formatting for Percentage of players

gender_summary_table=gender_summary_table.style.format({"Percentage of Players":"{:.2f}"})


gender_summary_table


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
##count total purchases by each gender
gender_counts

##Avg purchase price
AvgPurchasePrice=gender_data["Price"].mean()
AvgPurchasePrice

#Total Purchase Value
TotalPurchaseValue=gender_data["Price"].sum()
TotalPurchaseValue

#Average purchase total per person by Gender
AvgPerPerson=TotalPurchaseValue/gender_counts
AvgPerPerson

#Create new df
GenderDf = pd.DataFrame({"Purchase Count": gender_counts, 
                                    "Average Purchase Price": AvgPurchasePrice,
                                    "Average Purchase Value":TotalPurchaseValue,
                                    "Average Purchase Total per Person": AvgPerPerson})
GenderDf

#Format Currency values
GenderDf=GenderDf.style.format({ "Average Purchase Price":"${:,.2f}",
                      "Average Purchase Value":"${:,.2f}",
                      "Average Purchase Total per Person":"${:,.2f}"})

#Add "Gender" to table 
GenderDf.index.name="Gender"

GenderDf

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#Create bins for ages

ageBins=[0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,100]
binNames=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#Categorize exisitng players using agae bins
purchase_data["Age Group"]=pd.cut(purchase_data["Age"],ageBins,labels=binNames)
purchase_data

#New data frame with Age Groups
AgeGroup=purchase_data.groupby("Age Group")

#Count total player per age bin
totalCountAge=AgeGroup["SN"].nunique()

#Calculate % for age bins
pct_age=(totalCount/playerCount)*100

#Create new datagrame with all values

age_df=pd.DataFrame({"Percentage of Players":pct_age,"Total Count":totalCount})

#Format df to remove index name and format percentage with 2 decmal places
age_df.index.name=None

age_df.style.format({"Percentage of Players":"{:,.2f}"})

NameError: name 'totalCount' is not defined

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Purchase count for age groups
prchCountAgeGroup = AgeGroup["Purchase ID"].count()

# Avg purchase price for age group 
avgPrchPrice = AgeGroup["Price"].mean()

# Total purchase value for age group 
totalPurchValue = AgeGroup["Price"].sum()

# Average purchase/person in age group 
avgPurchPerPerson = totalPurchValue/totalCountAge

# Create new dataframe with values
ageDf = pd.DataFrame({"Purchase Count": prchCountAgeGroup,
                                 "Average Purchase Price": avgPrchPrice,
                                 "Total Purchase Value":totalPurchValue,
                                 "Average Purchase Total per Person": avgPurchPerPerson})

# Format to remove index name and to 2 decimal points + $ sign
ageDf.index.name = None

ageDf.style.format({"Average Purchase Price":"${:,.2f}",
                    "Total Purchase Value":"${:,.2f}",
                    "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#Top Spenders
#Group purchase data by SN
spenderData=purchase_data.groupby("SN")
spenderData
#Count total purchases by user ids/SNs
purchaseCountUser=spenderData["Purchase ID"].count()

#Calculate avg purchase per user
avgPriceUser=spenderData["Price"].mean()

#Total Purchase Balue
purchaseTotalValue=spenderData["Price"].sum()

#create new dataframe to store values
topSpenders = pd.DataFrame({"Purchase Count": purchaseCountUser,
                             "Average Purchase Price": avgPriceUser,
                             "Total Purchase Value":purchaseTotalValue})

topSpenders
#Descending order to get top 5 spenders
sortSpenders = topSpenders.sort_values(["Total Purchase Value"], ascending=False).head()
sortSpenders
# Format currency style ( $, and 2 decimal points)
sortSpenders.style.format({"Average Purchase Total":"${:,.2f}",
                            "Average Purchase Price":"${:,.2f}", 
                            "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# New Data Frame with item related info
itemData=purchase_data[['Item ID','Item Name',"Price"]]

#group by item id and name
itemDf=itemData.groupby(['Item ID','Item Name'])

#count items purchased
purchaseCount=itemDf["Price"].count()

#calculate purchase value per item
purchaseVal=(itemDf["Price"].sum())

#Item Price

itemPrice=purchaseVal/purchaseCount

#create new dataframe with above values

mostPopularItems = pd.DataFrame({"Purchase Count": purchaseCount, 
                                   "Item Price": itemPrice,
                                   "Total Purchase Value":purchaseVal})

mostPopularItems

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,1.28,5.12
1,Crucifer,3,3.26,9.78
2,Verdict,6,2.48,14.88
3,Phantomlight,6,2.49,14.94
4,Bloodlord's Fetish,5,1.70,8.50
...,...,...,...,...
179,"Wolf, Promise of the Moonwalker",6,4.48,26.88
180,Stormcaller,1,3.36,3.36
181,Reaper's Toll,5,1.66,8.30
182,Toothpick,3,4.03,12.09
183,Dragon's Greatsword,3,1.09,3.27

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#sort in descending value to obtain top 5 popular items

popularSortDesc = mostPopularItems.sort_values(["Purchase Count"], ascending=False).head()

#Format currency values( $, 2 decimal points)
popularSortDesc.style.format({"Item Price":"${:,.2f}",
                             "Total Purchase Value":"${:,.2f}"})